.Cart {
    width: 750px;
    margin: 80px auto;
    background-color: bisque;
    box-shadow: 1px 2px 3px 0px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 12px;
}
